*{
    margin:0px;
    padding:0px;
}

/*Header Start*/
#top-bar{
    width:100%;
    height:90px;
    margin-bottom:2px;
    background:#6d93b3;
    float:left;
}

#top-bar1{
    width:1200px;
    height:90px;
    margin:auto;
    color:white;
    font-family:Maiandra GD;
    /*background:red;*/
    /*font-weight:bold;*/
    font-size:25px;
    background:white;
    border-radius:20px;
}

#image{
    width:70px;
    height:auto;
    float:left;
    margin-left:60px;
    margin-top:5px;
}

#shopping{
    width:350px;
    height:90px;
    font-size:80px;
    float:left;
    color:#1b3f6c;
    font-family:Tw Cen MT Condensed;
    margin-left:260px;
}

#signUp{
    width:120px;
    height:80px;
    float:left;
    margin-top:7px;
    margin-left:160px;
}

#signUp1{
    width:110px;
    height:40px;
    font-size:30px;
    float:left;
    background:#6d93b3;
    margin-top:20px;
    padding-left:10px;
    border-radius:10px;
}

#login{
    width:120px;
    height:80px;
    float:left;
    margin-left:20px;
    margin-top:7px;
}

#login1{
    width:90px;
    height:40px;
    font-size:30px;
    float:left;
    background:#6d93b3;
    margin-top:20px;
    padding-left:20px;
    border-radius:10px;
}

#login1:hover, #signUp1:hover{
    background:#1b3f6c;
}

#head{
    width:100%;
    height:50px;
    background:#6d93b3;
    box-shadow:10px 0px 0px #7fb7dd;
    float:left;
}

#head1{
    width:1200px;
    height:50px;
    margin:auto;
    color:white;
    font-family:Maiandra GD;
    /*background:red;*/
    /*font-weight:bold;*/
    font-size:25px;
}

#link,#link1{
    text-decoration:none;
    color:white;
}

#navigation-bar{
    width:1200px;
    height:30px;
    float:left;
}

#welcome{
    width:120px;
    height:30px;
    float:left;
    margin-left:80px;
    margin-top:10px;
}

#welcome:hover, #cart:hover, #contact:hover, #item:hover{
    color:#0e2138;
}

#item{
    width:310px;
    height:340px;
    float:left;
    margin-top:10px;
    margin-left:70px;
    text-align:center;
}

/*#item1{
	width:310px;
	height:274px;
	float:left;
}

#sub{
	width:310px;
	height:300px;
	display:none;
	float:left;
}

#fashion{
	width:300px;
	height:30px;
	padding-left:10px;
	background:#165987;
	margin-top:2px;
}

#phone{
	width:300px;
	height:30px;
	padding-left:10px;
	background:#165987;
	margin-top:2px;
}

#computer{
	width:300px;
	height:30px;
	padding-left:10px;
	background:#165987;
	margin-top:2px;
}

#jewelary{
	width:300px;
	height:30px;
	padding-left:10px;
	background:#165987;
	margin-top:2px;
}

#bags{
	width:300px;
	height:30px;
	padding-left:10px;
	background:#165987;
	margin-top:2px;
}

#sports{
	width:300px;
	height:30px;
	padding-left:10px;
	background:#165987;
	margin-top:2px;
}

#toys{
	width:300px;
	height:30px;
	padding-left:10px;
	background:#165987;
	margin-top:2px;
}

#games{
	width:300px;
	height:30px;
	padding-left:10px;
	background:#165987;
	margin-top:2px;
}

#item:hover #sub{
	display:inherit;
}

#fashion:hover, #phone:hover, #computer:hover,#jewelary:hover, #bags:hover, #fashion:hover, #sports:hover, #toys:hover, #games:hover{
    font-size:27px;
}*/

#cart{
    width:220px;
    height:30px;
    margin-left:80px;
    float:left;
    margin-top:10px;
}

#contact{
    width:160px;
    height:30px;
    float:left;
    margin-left:130px;
    margin-top:10px;
}

/*Header End*/

/*Background body Start*/

.body-background{
    width:100%;
    height:2100px;
    margin-top:1px;
    float:left;
}

.body-background1{
    width:1200px;
    height:2100px;
    margin:auto;
}

#slide-bar{
    width:750px;
    height:300px;
    float:left;
    margin-top:50px;
    margin-left:210px;
    box-shadow:0px 0px 10px #818d96;
}

#first-section{
    width:1200px;
    height:1000px;
    margin:auto;
}

#first-content-bar{
    width:600px;
    height:560px;
    float:left;
    text-align:center;
    margin-left:300px;
}

#content1{
    width:550px;
    height:400px;
    font-family:Tw Cen MT Condensed;
    font-size:130px;
    color:#204d70;
    margin-left:25px;
    float:left;
}

#content2{
    width:600px;
    height:150px;
    font-family:Corbel;
    font-size:55px;
    color:#818d96;
    margin-top:10px;
    float:left;
}

#second-background{
    width:600px;
    height:480px;
    float:left;
    text-align:center;
    margin-left:300px;
}

#vision-mission-background{
    width:1200px;
    height:1010px;
    float:left;
    margin-top:30px;
    background-image:url(../images/black.png);
    /*background:blue;*/
}

#vision-background{
    width:800px;
    height:460px;
    margin:auto;
    /*background:red;*/
}

#vision{
    width:240px;
    height:100px;
    float:left;
    margin-top:20px;
    margin-left:260px;
    font-family:Berlin Sans FB;
    font-size:100px;
    color:white;
    /*background:blue;*/
}

#vision-content{
    width:700px;
    height:300px;
    float:left;
    margin-top:20px;
    margin-left:50px;
    font-family:Candara;
    font-size:30px;
    color:white;
    text-align:center;
    /*background:blue;*/
}

#mission-background{
    width:800px;
    height:550px;
    margin:auto;
    /*background:red;*/
}

#mission{
    width:290px;
    height:100px;
    float:left;
    margin-top:20px;
    margin-left:260px;
    font-family:Berlin Sans FB;
    font-size:100px;
    color:white;
    /*background:blue;*/
}

#mission-content{
    width:700px;
    height:390px;
    float:left;
    margin-top:20px;
    margin-left:50px;
    font-family:Candara;
    font-size:30px;
    color:white;
    text-align:center;
    /*background:blue;*/
}

/*Ads background start*/

#ads-background{
    width:100%;
    height:1750px;
    float:left;
}

#ads9{
    width:100%;
    height:600px;
    background-image:url(../images/ads9.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}

#ads10{
    width:100%;
    height:200px;
    background-image:url(../images/ads10.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}

#ads11{
    width:100%;
    height:500px;
    background-image:url(../images/ads11.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-bottom:20px;
}

#ads13{
    width:100%;
    height:260px;
    float:left;
}

#ads13-image{
    width:690px;
    height:260px;
    background-image:url(../images/ads13.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin:auto;
}

#last-contact-us{
    width:1200px;
    height:250px;
    margin:auto;
}

#get-details{
    width:600px;
    height:70px;
    margin-top:20px;
    margin-left:300px;
    float:left;
    font-family:Segoe UI Black;
    font-size:40px;
    color:#747f87;
}

#get-contact-us{
    width:150px;
    height:50px;
    float:left;
    margin-left:530px;
    font-family:Maiandra GD;
    font-size:30px;
    color:#2c5383;
}

#get-contact-us:hover{
    color:#071d2c;
}

/*Bakground body end*/

/*Footer Start*/

#foot{
    width:100%;
    height:250px;
    background:#2c5383;
    float:left;
}

#foot1{
    width:1200px;
    height:250px;
    margin:auto;
}

#first{
    width:500px;
    height:170px;
    font-size:100px;
    float:left;
    color:white;
    font-family:Tw Cen MT Condensed;
    margin-top:70px;
}

.second{
    width:200px;
    height:70px;
    font-size:25px;
    float:left;
    color:white;
    font-family:Yu Gothic UI;
    text-align:center;
    margin-top:80px;
    margin-left:80px;
}

.address11{
    font-size:15px;
}

#third{
    width:250px;
    height:90px;
    float:left;
    margin-top:80px;
    margin-left:150px;
}

#tel{
    color:white;
    font-size:20px;
    font-family:Yu Gothic UI;
    text-align:center;
}

.social{
    width:270px;
    height:40px;
    /*position: absolute;*/
    /*margin-top:30px;*/
}

.facebook{
    width:40px;
    height:40px;
    float:left;
    margin-left:16px;
}

.youtube{
    width:40px;
    height:30px;
    float:left;
    margin-left:10px;
    margin-top:8px;
}

.pinterest{
    width:40px;
    height:30px;
    float:left;
    margin-left:5px;
    margin-top:8px;
}

.twitter{
    width:50px;
    height:30px;
    float:left;
    margin-left:5px;
    margin-top:8px;
}

.instagram{
    width:40px;
    height:40px;
    float:left;
    margin-left:5px;
}

#bottom-bar{
    width:100%;
    height:35px;
    background:#2c5383;
    margin-top:2px;
    padding-bottom:10px;
    float:left;
}

#bottom-bar1{
    width:1200px;
    height:20px;
    margin:auto;
    padding-bottom:10px;
}

#content{
    padding-top:10px;
    padding-bottom:10px;
    color:white;
    font-size:17px;
}

/*Footer End*/
